%h1 Roots Kappers
%nav#menu
  %ul
    %li= link_to("Over Roots", '#over_roots', :class => 'active')
    %li= link_to("Prijzen", '#prijzen')
    %li= link_to("Acties", '#acties')
    %li= link_to("Producten", '#producten')
    %li= link_to("Foto's", '#fotos')
    %li= link_to("Contact", '#contact')
