%h1 Roots Kappers
%nav#menu
  %ul
    %li= link_to("Over Roots", '#', :class => 'active')
    %li= link_to("Prijzen", '#')
    %li= link_to("Acties", '#')
    %li= link_to("Producten", '#')
    %li= link_to("Foto's", '#')
    %li= link_to("Contact", '#')
